<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Mi carrito </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <div *ngFor="let item of carts">
      <ion-item *ngFor="let product of item.items">
        <ion-thumbnail slot="start" style="width: 8.5rem; height: 8.5rem;">
          <img [src]="product.product.photo" alt="{{ product.product.name }}">
        </ion-thumbnail> 
      <ion-label>
        <h2>{{ product.product.name  }}</h2>
        <p>{{ product.product.description }}</p>
        <p>Precio: ${{ product.product.price }}</p>
        <p>Cantidad: {{ product.quantity }}</p>
      </ion-label>
      <ion-button (click)="promptRemoveItem(product)">Eliminar</ion-button>
    </ion-item>
    <ion-item>
      <ion-label>Total:</ion-label>
      <ion-note slot="end" class="total-amount" >{{ item.total| currency:'MXN':'symbol':'1.2-2' }}</ion-note>
   </ion-item>
   <ion-button [style.padding-left]="calculateButtonWidth()" (click)="addToHistory(item)" color="warning">
    <ion-icon slot="icon-only" name="cart-outline"></ion-icon> Realizar compra
  </ion-button>
    </div>

  </ion-list>
  
</ion-content>
